{% extends "base.html" %}

{% block title %}
    Курс PictoBlox
{% endblock %}

{% block content %}
    <h1 class="title tac">Введение в искусственный интеллект с помощью PictoBlox</h1>
    <p class="descr">Курс "Введение в искусственный интеллект с помощью PictoBlox" представляет собой захватывающее путешествие в мир технологии и креативности для детей от 1 до 4 классов. С помощью инновационной платформы PictoBlox, дети будут учиться основам программирования, развивать свои навыки логического мышления и экспериментировать с созданием уникальных проектов.</p>
{% endblock %}