{% extends "base.html" %}

{% block title %}
    Ресурсы

{% endblock %}

{% block content %}
    <h1 class="title tac">Ресурсы</h1>
    <p class="descr">В этом разделе представлены полезные ресурсы: книги, новостные ресурсы и т.д.</p>
    <div class="material">
         <p class="info">Книга Р.Стюарт, Н. Питер "Искусственный интеллект. Современный подход."</p>
        <a href="https://disk.yandex.ru/i/MUsWzMNw5TK5lg" class="dow">Смотреть и загрузить том №1</a>
        <a href="https://disk.yandex.ru/i/qTGGyhmwVF8SDw" class="dow">Смотреть и загрузить том №2</a>
        <a href="https://disk.yandex.ru/i/I8IAuccloTa8gA" class="dow">Смотреть и загрузить том №2</a>
    </div>
    <div class="material">
         <p class="info">Л.Н. Ясницкий "Искусственный интеллект. Элективный курс: учебное пособие"</p>
        <a href="https://disk.yandex.ru/i/mIZsT8BHLfuAwQ" class="dow">Смотреть и загрузить</a>
    </div>



{% endblock %}